{% extends 'base.html' %}

{% block title %}Not Ready{% endblock %}

{% block main %}
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Poll Result</h3>
            </div>

            <div class="panel-body">
                <h1>Ankieta jeszcze nie gotowa</h1>
                <h5>Proszę poczekać na aktywację lub opuścić stronę</h5>
            </div>
        </div>
    </div>
    </div>
{% endblock %}